<div class="wrapper">
	<div class="product-img">
		<div class="icon-placement text-center">
			<span><%= training.date.strftime('%d') %></span>
			<br>
			<span class="margin-tp-min-15"><%= training.date.strftime('%b') %></span>
		</div>

	</div>
	<div class="product-info">
		<div class="product-text">
			<div class="padding-tp text-center">
				<h1><%= training.start_hour %> - <%= training.end_hour %> </h1>
			</div>

		</div>
		<div id="btn">
			<% if training.training_participants.find_by(user_id: current_user.id).present? %>
				<span class="noselect">
					<%= link_to "Afmelden", training_participant_path(training.training_participants.find_by(user_id: current_user.id).id ), method: :delete %>
				</span>
			<% else %>
				<span class="noselect">
					<%= link_to "Aanmelden", training_participants_path(training_id: training.id), method: :post %>
				</span>
			<% end %>
			<div id="circle">

			</div>
		</div>
	</div>
</div>