<% trainings.each do |training| %>
	<div class="training-card">
		<div class="training-card-date">
			<h1>
				<%= day_date_month(training.date) %>
			</h1>
		</div>
		<div class="training-card-time">
			<h2>
				<%= training.start_hour %> - <%= training.end_hour %>
			</h2>
		</div>


		<div class="training-card-count">
			<i class="fas fa-user-circle fa-3x margin-right-20"></i> <h2><%= training.training_participants.count %> / <%= training.max_participants %></h2>
		</div>

		<div class="training-card-button green-button">
			<%= link_to "Inschrijven", training_participants_path(training_id: training.id), method: :post %>
		</div>
	</div>
<% end %>