<div class="login-wrapper">
	<div class="img-grid">
		<%= image_tag("bitmap-copy.png",class:"login-img") %>
	</div>
	<div class="login">
			<h1 class="login-h1">Inloggen</h1>
		<div class="login-form">
			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<%= f.input :email, required: true, label: false, class: "login-form-field", placeholder: "E-mail" %>
				<%= f.input :password, required: true, label: false,  placeholder: "Wachtwoord", class: "login-form-field"%>
				<%= f.button :submit, "Inloggen", class: 'login-button' %>
			<% end %>
		</div>
	</div>
</div>