<!DOCTYPE html>
<html>
  <head>
    <title>UzscRegistratieApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>

  <body>
  <% if user_signed_in? %>
    <%= render "shared/header" %>
  <% end %>

  <% flash.each do |type, msg| %>
	  <div class="alert alert-info">
		  <%= msg %>
	  </div>
  <% end %>
	  <%= yield %>
  </body>
</html>
